<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springbootdev.modules.drools.mapper.DroolsRulsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="droolsRulsResultMap" type="org.springbootdev.modules.drools.entity.DroolsRuls">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="group_id" property="groupId"/>
        <result column="remarks" property="remarks"/>
        <result column="rule_body" property="ruleBody"/>
    </resultMap>

    <select id="selectDroolsRulsPage" resultMap="droolsRulsResultMap">
        select * from mk_drools_ruls where is_deleted = 0
    </select>

</mapper>
