<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springclouddev.integral.mapper.ClientActRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="clientActRelResultMap" type="org.springclouddev.integral.entity.ClientActRel">
        <id column="client_act_rel_id" property="clientActRelId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="client_id" property="clientId"/>
        <result column="act_id" property="actId"/>
        <result column="account_id" property="accountId"/>
    </resultMap>

                                                        <select id="selectClientActRelPage" resultMap="clientActRelResultMap">
        select * from tbl_client_act_rel where is_deleted = 0
    </select>

</mapper>
