<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springclouddev.integral.mapper.CustIntegralDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="custIntegralDetailResultMap" type="org.springclouddev.integral.entity.CustIntegralDetail">
        <id column="cust_integral_detail_ID" property="custIntegralDetailId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="CUST_ID" property="custId"/>
        <result column="CUST_NAME" property="custName"/>
        <result column="IDENTY_TYPE" property="identyType"/>
        <result column="IDENTY_CARD" property="identyCard"/>
        <result column="PHONE_NUM" property="phoneNum"/>
        <result column="CUST_ADDRESS" property="custAddress"/>
        <result column="INTEGRAL_TYPE" property="integralType"/>
        <result column="INTEGRAL_TYPE_ID" property="integralTypeId"/>
        <result column="INTEGRAL_VALID_DATE" property="integralValidDate"/>
        <result column="INTEGRAL_VALID_BLANCE" property="integralValidBlance"/>
        <result column="ACCOUNT_BLANCE" property="accountBlance"/>
        <result column="USED_TOATL" property="usedToatl"/>
        <result column="ACCOUNT_STATUS" property="accountStatus"/>
        <result column="ACCOUNT_STATUS_ID" property="accountStatusId"/>
        <result column="RESERVE_COLUMN1" property="reserveColumn1"/>
        <result column="RESERVE_COLUMN2" property="reserveColumn2"/>
        <result column="RESERVE_COLUMN3" property="reserveColumn3"/>
    </resultMap>

                                                                                                                                                                                                                                            <select id="selectCustIntegralDetailPage" resultMap="custIntegralDetailResultMap">
        select * from tbl_cust_integral_detail where is_deleted = 0
    </select>

</mapper>
