<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springclouddev.integral.mapper.IntegralAdjustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="integralAdjustResultMap" type="org.springclouddev.integral.entity.IntegralAdjust">
        <id column="integral_adjust_id" property="integralAdjustId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="CUST_ID" property="custId"/>
        <result column="ADJUST_TYPE" property="adjustType"/>
        <result column="ADJUST_NUM" property="adjustNum"/>
        <result column="ADJUST_REASON" property="adjustReason"/>
        <result column="CRT_USER" property="crtUser"/>
        <result column="CRT_TIME" property="crtTime"/>
        <result column="LST_UPD_USER" property="lstUpdUser"/>
        <result column="LST_UPD_TIME" property="lstUpdTime"/>
        <result column="RESERVE_COLUMN1" property="reserveColumn1"/>
        <result column="RESERVE_COLUMN2" property="reserveColumn2"/>
        <result column="RESERVE_COLUMN3" property="reserveColumn3"/>
    </resultMap>

                                                                                                                                                                    <select id="selectIntegralAdjustPage" resultMap="integralAdjustResultMap">
        select * from tbl_integral_adjust where is_deleted = 0
    </select>

</mapper>
