body {
    font-size: 12px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

table {
    display: block;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    font-size: 12px;
}

table th {
    font-weight: bold;
}

table td, table th {
    border: 1px solid #ddd;
    display: table-cell;
    vertical-align: inherit;
    padding: 3px 5px;
    font-size: 12px;
}