import request from '@/utils/request'

export const getList = (current, size, params) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/list',
    method: 'get',
    params: {
      ...params,
      current,
      size,
      descs: 'id'
    }
  })
}

export const getDetail = (id) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/detail',
    method: 'get',
    params: {
      id
    }
  })
}

export const remove = (ids) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/remove',
    method: 'post',
    params: {
      ids,
    }
  })
}

export const add = (row) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/submit',
    method: 'post',
    data: row
  })
}

export const update = (row) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/submit',
    method: 'post',
    data: row
  })
}

export const selectOption = (row) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/select',
    method: 'get',
    data: row
  })
}

#foreach($field in $!{table.fields})
#if($!{field.name}=="parent_id")
export const getTreeData = (tenantId, parentId, dt) => {
  return request({
    url: '/$!{cfg.serviceName}/$!{cfg.entityKey}/tree',
    method: 'get',
    params: {
      tenantId,
      parentId,
      dt
    }
  })
}
#end
#end
