<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springbootdev.modules.mockserver.mapper.MockWebSiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mockWebSiteResultMap" type="org.springbootdev.modules.mockserver.entity.MockWebSite">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="name" property="name"/>
        <result column="address_url" property="addressUrl"/>
    </resultMap>

                                                        <select id="selectMockWebSitePage" resultMap="mockWebSiteResultMap">
        select * from mk_mock_web_site where is_deleted = 0
    </select>

</mapper>
