<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$!{package.Mapper}.$!{table.mapperName}">

#if($!{enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if($!{baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="$!{table.entityPath}ResultMap" type="$!{package.Entity}.$!{entity}">
#foreach($field in $!{table.fields})
#if($!{field.keyFlag})##生成主键排在第一位
        <id column="$!{field.name}" property="$!{field.propertyName}"/>
#end
#end
#foreach($field in $!{table.commonFields})##生成公共字段
        <result column="$!{field.name}" property="$!{field.propertyName}"/>
#end
#foreach($field in $!{table.fields})
#if(!$!{field.keyFlag} && $!{field.name} != $!{cfg.tenantColumn})##生成普通字段
        <result column="$!{field.name}" property="$!{field.propertyName}"/>
#end
#end
    </resultMap>

#end
    #foreach($field in $!{table.fields})
        #if($!{field.name}=="parent_id")

            <resultMap id="treeNodeResultMap" type="org.springbootdev.core.tool.node.TreeNode">
                <id column="id" property="id"/>
                <result column="parent_id" property="parentId"/>
                <result column="title" property="title"/>
                <result column="value" property="value"/>
                <result column="key" property="key"/>
            </resultMap>
            <select id="tree" resultMap="treeNodeResultMap">
                select id, parent_id, name as title, id as 'value', id as 'key' from $!{table.name} where is_deleted = 0
                <if test="_parameter!=null">
                    and parent_id = #{_parameter}
                </if>
            </select>
        #end
    #end
    <select id="select$!{entity}Page" resultMap="$!{table.entityPath}ResultMap">
        select * from $!{table.name} where is_deleted = 0
    </select>

</mapper>
